.navigation{
   position: fixed;
   top:0; left:0; right:0; bottom:0;
   /* display: flex; */
   display: none;
   justify-content: center;
   align-items: center;
   background: rgba(255, 255, 255, 0.9);
}  
.navigation ul {
   padding: 0;
   margin: 0;
}
.navigation li {
   display: block;
   list-style: none outside;
   padding: 1em 0;
   animation: navitemin 0.4s 1 ease forwards;
   opacity: 0;
}
.navigation li:nth-child(1) {animation-delay: 0.15s};
.navigation li:nth-child(2) {animation-delay: 0.30s};
.navigation li:nth-child(3) {animation-delay: 0.45s};
.navigation li:nth-child(4) {animation-delay: 0.60s};
.navigation li:nth-child(5) {animation-delay: 0.75s};
.navigation li:nth-child(6) {animation-delay: 0.09s};

.navigation a {
   display: block;
   padding: 1.5em 2.5em;
   font-size: 1.5em;
   border-radius:0.3rem;
   background: #FFF;
   text-decoration: none;
   color: #444;
   box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1)
}
.navigation a::before {
   margin-right: 1rem;
}
#nav-main-toggle {
   display: none;
}
#nav-main-toggle:checked + .site-header .navigation {
   display: flex;
   z-index: 1000;
}

#nav-main-toggle:checked + .site-header .nav-toggle {
   z-index: 1010;
   animation: jump 0.3s 1 ease-in-out forwards;
}
.nav-toggle {
   position: fixed;
   top: var(--spacing-site, 2rem);
   left: var(--spacing-site, 2rem);
   font-size: 2rem;
   z-index: 1000;
   padding: 0 0.5rem;
   animation: navtogglein 0.3s 1 ease-in-out forwards;
}
#nav-toggle-left {
}
#nav-toggle-right {
   /* top: var(--spacing-site, 4rem); */
   left: inherit;
   right: var(--spacing-site, 2rem);

} 

/* .nav-toggle:before {
   margin-right: 1rem;
} */
.nav-toggle:before {
   content:'\f0c9';
}
.nav-toggle span {
   display: none;
}
#nav-main-toggle:checked + .site-header .nav-toggle:before {
   content:'\f00d';
}

