
.posts{
   display: flex;
   justify-content: center;
   margin: 3rem;
   flex-direction: column;
   align-items: center;
}

.post-article{
   width: 90%;
   
   margin: 1rem;
   box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.post-article a {
   display: block;
   padding: 1rem;
   border-radius: 0.3rem;
   text-decoration: none;
   color: rgb(51, 51, 51);
   transition: background 0.3s ease-in, color 0.3s ease-in;
   position: relative;
}
.post-article a:before {
   display: block;
   content: '';
   border-radius: 0.3rem;
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   opacity: 0;
   box-shadow: 0 0 4.5rem 0.5rem rgba(0, 0, 0, 0.5);
   transition: opacity 0.3s ease-in;
}
.post-article a:hover:before {
   opacity: 1;
}
.post-article a:hover {
   cursor: pointer;
   background: #333;
   color: #FFF;
}
.wrapper p {
   padding-top: 2.5em;
   padding-bottom: 0;
   font-size: 0.8rem;
}

@media screen and (min-width: 900px){
   .posts{
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
   }
   .post-article{
      flex: 0 0 28%;
   }
}
